#Web framework
flask

#Library for making HTTP requests
requests

#GCP Cloud Datastore library
google-cloud-datastore

#Python WSGI HTTP server (connects web servers such as nginx to app)
gunicorn
