{% extends "layout.html" %}
{% block content %}
<!doctype html>
<html>
<div class=page>
    
    <h1>InternFolio</h1> 

    <!-- Button go to navigate to search page -->
    <h2>
        <a href="/search">
            <button>
                Search for Internship Postings
            </button>
        </a>
    </h2>

    <!-- Button to navigate to bookmarked internships page -->
    <h2>
        <a href="/manage">
            <button> 
                Manage Bookmarked Internships
            </button>
        </a>
    </h2>

    <body>
        <div class="background-image"></div>
    </body>

</div>
</html>

{% endblock %}
